nav {
  display: flex;
  gap: 20px;
  padding: 10px;

  a {
    background-color: rgb(0, 213, 255);
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 4px;

    &.active {
      background-color: rgb(0, 79, 139);
    }

    &:hover {
      background-color: rgb(20, 153, 220);
      cursor: pointer;
    }
  }
}
